<div ng-controller="DetailCtrl as dCtrl">
<div class="jumbotron">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2><b>{{ ::dCtrl.tarefa.subject }}</b></h2>
            <div class="row">
                <div class="col-xs-6 col-md-2">
                    <h3><b>Ticket ID:</b> {{ ::dCtrl.tarefa.id }}</h3>
                </div>
                <div class="col-xs-6 col-md-3">
                    <h3><b>Projeto:</b> {{ ::dCtrl.tarefa.project.name }}</h3>
                </div>
            </div>
            <h4><span class="glyphicon glyphicon-fire"></span> <b>Autor:</b> {{ ::dCtrl.tarefa.author.name }}</h4>

            
        </div>
        <div class="panel-body">
                <div class="row">
                        <div class="col-xs-4 col-md-3">
                            <h4> <b>Tipo:</b> {{ ::dCtrl.tarefa.tracker.name }} </h4>
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <h4> <b>Status:</b> {{ ::dCtrl.tarefa.status.name }} </h4>
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <h4> <b>Prioridade:</b> {{ ::dCtrl.tarefa.priority.name }} </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-md-3">
                            <h4> <b>%</b> {{ ::dCtrl.tarefa.done_ratio }} </h4>
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <h4> <b>Estimado:</b> {{ ::dCtrl.tarefa.spent_hours }} </h4>
                        </div>
                        <div class="col-xs-4 col-md-3">
                            <h4> <b>Gasto:</b> {{ ::dCtrl.tarefa.total_spent_hours }} </h4>
                        </div>
                    </div>
            <pre>{{ ::dCtrl.tarefa.description }}</pre>
            <hr>
            <h5>Posted: {{ ::dCtrl.tarefa.start_date }}</h5>
        </div>
    </div>
    
    <a class="btn btn-primary btn-sm" ui-sref="ticketList">Voltar</a>
    </br></br>
    <h2 ng-if="dCtrl.comentsLs.length > 0">Comentários</h2>
    <hr>
    
    <div class="panel panel-default" ng-repeat="coment in dCtrl.comentsLs track by $index">
        <div class="panel-body">
            <pre><h4>{{::coment.descricao}}</h4></pre>
            <hr>
            <h5>{{::coment.dateCreate}}</h5>
        </div>
    </div>
    
    <h3>Inserir Comentario</h3>
    <textarea class="form-control" ng-model="dCtrl.coment" name="Descricao" form="contatoForm" placeholder=""></textarea>
    <button class="btn btn-primary btn-block" ng-click="dCtrl.addComent(coment)">Adicionar Comentario</button>
</div>
</div>