<div class="row">
<div class="jumbotron col-md-10 col-md-offset-1" ng-cloak ng-controller="TicketCtrl as ticketC">
    <div class="row">
        <div class="col-md-6">

            <h2>Tickets</h2>
        </div>
        <div class="col-md-3">
            <!--button ng-click="ticketC.testeModal(25)" class="btn btn-warning btn-danger">BOTAOZAO DE TESTE</button-->
        </div>
        <div class="col-md-3">
            <form name="myForm">
                <label for="mySelect">Projetos:</label>
                <select class="form-control" name="mySelect" id="mySelect"
                    ng-options="option.name for option in ticketC.projetos.lista track by option.id"
                    ng-model="ticketC.projetos.selectedOption"
                    ng-change="ticketC.getTicketProject()"></select>
            </form>
        </div>

    </div>
    
    <hr> <!--LINHA-->
    <div class="row">
   	<form class="form-inline">
    	<!--div class="">
    		<div class="col-md-3"> <input type="text" class="form-control" ng-model=""  placeholder="O que voce esta buscando?"/></div> <!-- ng-model-options="{updateOn: 'default blur', debounce: {default: 500, blur: 0 }}">
			<div class="col-md-2">Status: <select class="form-control" ng-model="" ng-options="x for x in status"></select></div>
			<div class="col-md-3">From: <input type="date" class="form-control" /></div>
			<div class="col-md-3">To: <input type="date" class="form-control" /></div>

    	</div-->

    </form>

    <div class="row"><div class="col-md-12"></div></div>
    <div class="table-responsive"></div>
        <table class="table"> <!-- ng-show="tickets.length > 0" -->
            <thead class="thead-light">
                <tr>
                    <th>Tarefa</th>
                    <th>Projeto</a></th>
                    <th>Titulo</a></th>
                    <th class="hidden-xs">Tipo</a></th>
                    <th class="hidden-xs">Status</a></th>
                    <th class="hidden-xs">Prioridade</a></th>
                    <th class="hidden-xs">Data de Criação</th>
                    <th>&nbsp</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ticket in ticketC.tickets.tarefas track by $index"> <!-- | filter: {titulo: criterioDeBusca} | filter: {status: selectedStatus} -->
                    <td>{{ticket.id}}</td>
                    <td>{{ticket.project.name}}</td>
                    <td>{{ticket.subject}}</td>
                    <td class="hidden-xs">{{ticket.tracker.name}}</td>
                    <td class="hidden-xs">{{ticket.status.name}}</td>
                    <td class="hidden-xs">{{ticket.priority.name}}</td>
                    <td class="hidden-xs">{{ticket.created_on | date:'dd/MM/yyyy HH:mm:ss'}}</td> <!--| date:"dd/MM/yyyy HH:mm:ss-->
                    <td><a ng-click="ticketC.detailTicket(ticket.id)" class="btn btn-small btn-danger">Ver</a></td>

                </tr>
            </tbody>
        </table>
    </div>
   
    <div  style = "text-align: center;" ng-hide="ticketC.projetos.lista < 1">
	    <ul  class="pagination">
	        <li ng-show="ticketC.pager.atualPage > 1">
	            <a ng-click="ticketC.getTicketProject(1)"> Primeira </a>
	        </li>
	        <li ng-show="ticketC.pager.atualPage > 1">
                <a  ng-click="ticketC.getTicketProject(ticketC.pager.atualPage - 1)"
                    class="page-link" href="#" aria-label="Previous"> 
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                </a>
	        </li>
	        <li ng-class="{active: ticketC.pager.atualPage == page}" ng-repeat="page in ticketC.pager.pages" > <!-- ng-class="{active:vm.pager.currentPage === page} -->
	            <a  ng-click="ticketC.getTicketProject(page)">{{page}}</a>
	        </li>               
	        <li ng-if="ticketC.pager.atualPage != ticketC.pager.totalPages">
                <a  ng-click="ticketC.getTicketProject(ticketC.pager.atualPage + 1)"
                    class="page-link" href="#" aria-label="Next"> 
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                </a>
	        </li>
            <li ng-disabled="ticketC.pager.atualPage === ticketC.pager.totalPages"
                ng-if="ticketC.pager.atualPage != ticketC.pager.totalPages">
	            <a ng-click="ticketC.getTicketProject(ticketC.pager.totalPages)"> Última </a>
	        </li>
	    </ul>
    </div>
    
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <a class="btn btn-primary btn-block" ng-click="ticketC.newTicket()">Novo Ticket</a>
        </div>
    </div>

    
    <div class="container">

        <div class="row">
    
            <div class="col-md-3">
    
                <h3>Select files</h3>
    
                <div ng-show="ticketC.uploader.isHTML5">
                    <!-- 3. nv-file-over uploader="link" over-class="className" -->
                    <div class="well my-drop-zone" nv-file-over="" uploader="ticketC.uploader">
                        Base drop zone
                    </div>
    
                    <!-- Example: nv-file-drop="" uploader="{Object}" options="{Object}" filters="{String}" -->
                    <div nv-file-drop="" uploader="ticketC.uploader" options="{ url: '/foo' }">
                        <div nv-file-over="" uploader="ticketC.uploader" over-class="another-file-over-class" class="well my-drop-zone">
                            Another drop zone with its own settings
                        </div>
                    </div>
                </div>
    
                <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                Multiple
                <input type="file" nv-file-select uploader="ticketC.uploader" multiple  /><br/>
    
                Single
                <input type="file" nv-file-select uploader="ticketC.uploader" />
            </div>
    
            <div class="col-md-9" style="margin-bottom: 40px">
    
                <h3>Upload queue</h3>
                <p>Queue length: {{ ticketC.uploader.queue.length }}</p>
    
                <table class="table">
                    <thead>
                        <tr>
                            <th width="50%">Name</th>
                            <th ng-show="ticketC.uploader.isHTML5">Size</th>
                            <th ng-show="ticketC.uploader.isHTML5">Progress</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ticketC.uploader.queue">
                            <td><strong>{{ item.file.name }}</strong></td>
                            <td ng-show="ticketC.uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                            <td ng-show="ticketC.uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center">
                                <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Upload
                                </button>
                                <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                </button>
                                <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
    
                <div>
                    <div>
                        Queue progress:
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': ticketC.uploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-s" ng-click="ticketC.uploader.uploadAll()" ng-disabled="!ticketC.uploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Upload all
                    </button>
                    <button type="button" class="btn btn-warning btn-s" ng-click="ticketC.uploader.cancelAll()" ng-disabled="!ticketC.uploader.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                    </button>
                    <button type="button" class="btn btn-danger btn-s" ng-click="ticketC.uploader.clearQueue()" ng-disabled="!ticketC.uploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> Remove all
                    </button>
                </div>
    
            </div>
    
        </div>
    
    </div>
</div>
</div>


