.main-footer {
    position: fixed;
    bottom: 0px;
    width: 100%
}

.logo {
    padding: 7px;
}

.jumbotron{
    padding: 5%;
}

.main-footer {
    position: fixed;
    bottom:0px;
    width:100%;
  }
  
  #toast-container {
    top: 70px;
  }

  input.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid {
	border-color: #F99;
}
.margem-detail {
    /*padding-top: 0%;
    padding-bottom: 0%;
    */
    padding: 3%;
}
/*
.row{
    background-color: red;
}

.col-md-6{
    background-color: blue;
}

.col-md-2{
    background-color: chartreuse;
}*/